<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACTIVATION</title>
    <link rel="icon" type="image/x-icon" href="https://png.pngtree.com/png-vector/20210313/ourmid/pngtree-letter-z-logo-png-png-image_3045054.jpg">
    <style>
        body
        {
            background-color: rgb(204, 210, 216);
        }
        h1
        {
            text-align: center;
            color: rgb(70, 63, 63);
            margin-top: 50px;
            margin-bottom: 80px;
        }
        .describe
        {
            text-align: center;
            border: 2px ridge rgb(70, 63, 63);
            margin-bottom: 100px;
        }
        .Activation
        {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>ACTIVATE YOUR ACCOUNT</h1>
    <div class="describe">
        <p> It's Time To Activate Your Account And Start You Business. </p>
        <p> Check The Email That You Sign With It.</p>
    </div>
    <div class="Activation">
        <form method="post"> {% csrf_token %}
            <label style="color: rgb(70, 63, 63);"> Enter The 6-Digits </label><br>
            <input style="background-color: rgb(204, 210, 216);" type="text" name="code"><br><br>
            <input style="background-color: rgb(204, 210, 216);" type="submit" value="ACTIVATE">
        </form>
    </div>
    <script>
        window.addEventListener('popstate', function(e) {
            console.log(e);
            window.location.href = location + 'sign';
        });
    </script>
</body>
</html>