<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="icon" type="image/x-icon" href="https://png.pngtree.com/png-vector/20210313/ourmid/pngtree-letter-z-logo-png-png-image_3045054.jpg">
    <style>
        body
        {
            background-color: rgb(204, 210, 216);
        }
        h1
        {
            text-align: center;
            color: rgb(70, 63, 63);
            margin-top: 50px;
            margin-bottom: 80px;
        }
        .describe
        {
            text-align: center;
            border: 2px ridge rgb(70, 63, 63);
            margin-bottom: 100px;
        }
        .loginInfos
        {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>LogIn To Your Account</h1>
    <div class="describe">
        <p> Welcome Again. </p>
        <p> Use Your Email And Your Password For Access To Your Account.</p>
    </div>
    <div class="loginInfos">
        <form method="post"> {% csrf_token %}
            <label style="color: rgb(70, 63, 63);"> E-Mail / Username </label><br>
            <input style="background-color: rgb(204, 210, 216);" type="text" name="mail"><br><br>
            <label style="color: rgb(70, 63, 63);"> Password </label><br>
            <input style="background-color: rgb(204, 210, 216);" type="password" name="pass"><br><br><br>
            <input style="background-color: rgb(204, 210, 216);" type="submit" value="LOGIN">
        </form>
    </div>
</body>
</html>