<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVER PROBLEM</title>
    <link rel="icon" type="image/x-icon" href="https://cdn.vectorstock.com/i/500p/79/46/red-no-sign-isolated-on-transparent-background-vector-31047946.jpg">
    <style>
        body
        {
            background-color: rgb(204, 210, 216);
        }
        h1
        {
            text-align: center;
            color: rgb(70, 63, 63);
            margin-top: 50px;
            margin-bottom: 80px;
        }
        .describe
        {
            text-align: center;
            border: 2px ridge rgb(70, 63, 63);
            margin-bottom: 100px;
        }
        .back
        {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>500 Iternal Server Error</h1>
    <div class="describe">
        <p> Error During The SignIn. </p>
        <p> Try Again Please</p>
    </div>
    <div class="back">
        <form> {% csrf_token %}
            <input onclick="window.history.go(-1); return false;" style="background-color: rgb(204, 210, 216);" type="submit" value="BACK TO SIGN">
        </form>
    </div>
</body>
</html>